In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('D:\\Excel\\BankNote_Authentication.csv')

In [3]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [4]:
df.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [5]:
df['class'].unique()

array([0, 1], dtype=int64)

In [7]:
df.shape

(1372, 5)

In [10]:
x = df.iloc[:, :-1]
y = df.iloc[:,-1]

In [11]:
x.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [12]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size = 0.7, random_state = 0)

In [14]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [15]:
clf.score(x_test, y_test)

0.9902912621359223

In [17]:
df[1190:1200]

      variance   skewness  curtosis  entropy  class
1190  -0.83121   0.039307   0.05369 -0.23105      1
1191  -2.56650  -6.882400   7.54160  0.70774      1
1192  -4.40180 -12.937100  15.65590 -1.68060      1
1193  -3.75730  -8.291600  10.30320  0.38059      1
1194  -2.47250  -0.401450   1.48550  1.11890      1
1195  -1.97250   2.882500  -2.30860 -2.37240      1
1196  -2.01490   3.687400  -1.93850 -3.89180      1
1197  -0.82053   0.651810  -0.48869 -0.52716      1
1198  -1.78860  -6.348600   5.61540  0.42584      1
1199  -2.91380  -9.471100   9.76680 -0.60216      1

In [18]:
x_test

      variance   skewness  curtosis  entropy
1023  -1.77130 -10.766500  10.21840 -1.00430
642    5.13210  -0.031048   0.32616  1.11510
1196  -2.01490   3.687400  -1.93850 -3.89180
31     1.48840   3.627400   3.30800  0.48921
253    5.28680   3.257000  -1.37210  1.16680
...        ...        ...       ...      ...
986    0.84546   3.482600  -3.63070 -1.39610
271    5.39150   9.994600  -3.80810 -3.36420
1266  -1.43770  -1.432000   2.11440  0.42067
769   -0.89409   3.199100  -1.82190 -2.94520
634    6.82480   5.218700  -2.54250  0.54610

[412 rows x 4 columns]

In [19]:
y_test

1023    1
642     0
1196    1
31      0
253     0
       ..
986     1
271     0
1266    1
769     1
634     0
Name: class, Length: 412, dtype: int64

In [20]:
clf.predict([[6.825, 5.217, -2.542, 0.546]])

array([0], dtype=int64)

In [21]:
y_pred = clf.predict(x_test)

In [22]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_pred, y_test)
score

0.9902912621359223

In [23]:
import pickle 
pickle_out = open('D://Data_Science/Bank_Note_Authentication_Docker/models/clf.pkl', 'wb')
pickle.dump(clf, pickle_out)
pickle_out.close()

In [25]:
import joblib
job = joblib.dump(clf, 'D://Data_Science/Bank_Note_Authentication_Docker/models/clf.jblib')

In [26]:
df[df['class'] > 0]

      variance  skewness   curtosis  entropy  class
762   -1.39710   3.31910  -1.392700 -1.99480      1
763    0.39012  -0.14279  -0.031994  0.35084      1
764   -1.66770  -7.15350   7.892900  0.96765      1
765   -3.84830 -12.80470  15.682400 -1.28100      1
766   -3.56810  -8.21300  10.083000  0.96765      1
...        ...       ...        ...      ...    ...
1367   0.40614   1.34920  -1.450100 -0.55949      1
1368  -1.38870  -4.87730   6.477400  0.34179      1
1369  -3.75030 -13.45860  17.593200 -2.77710      1
1370  -3.56370  -8.38270  12.393000 -1.28230      1
1371  -2.54190  -0.65804   2.684200  1.19520      1

[610 rows x 5 columns]

In [31]:
df_test = df.iloc[752:773, :-1]

In [32]:
df_test

     variance  skewness   curtosis  entropy
752   0.38478   6.59890  -0.333600 -0.56466
753   3.15410  -5.17110   6.599100  0.57455
754   2.39690   0.23589   4.847700  1.43700
755   4.71140   2.07550  -0.270200  1.23790
756   4.01270  10.14770  -3.936600 -4.07280
757   2.66060   3.16810   1.961900  0.18662
758   3.93100   1.85410  -0.023425  1.23140
759   0.01727   8.69300   1.398900 -3.96680
760   3.24140   0.40971   1.401500  1.19520
761   2.25040   3.57570   0.352730  0.28360
762  -1.39710   3.31910  -1.392700 -1.99480
763   0.39012  -0.14279  -0.031994  0.35084
764  -1.66770  -7.15350   7.892900  0.96765
765  -3.84830 -12.80470  15.682400 -1.28100
766  -3.56810  -8.21300  10.083000  0.96765
767  -2.28040  -0.30626   1.334700  1.37630
768  -1.75820   2.73970  -2.532300 -2.23400
769  -0.89409   3.19910  -1.821900 -2.94520
770   0.34340   0.12415  -0.287330  0.14654
771  -0.98540  -6.66100   5.824500  0.54610
772  -2.41150  -9.13590   9.344400 -0.65259

In [34]:
df_test.to_csv('D://Data_Science/Bank_Note_Authentication_Docker/Dataset/test.csv')